<nav>
    <!-- <a routerLink="/" id="desktop_logo">
        <img src="../../../content/images/logo.png">
    </a> -->
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <a routerLink="/product">Clothes</a>
    &nbsp;
    &nbsp;
    <a routerLink="/accessoris">Accessoris</a>
    &nbsp;
    &nbsp;
    <a routerLink="/card">Card</a>
    <!-- Search form -->
    <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search our catalog">
        </div>
    </form>
  </nav>